* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #2061c9;
    color: #000;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    display: block;
    padding-top: 150px;
}

h1 {
    background-color: white;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
    color: #2061c9;
    padding: 10px 0px;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 500px;
    height: 400px;
    margin: auto;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 30px;
}

#todo-form {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#todo-form input {
    height: 70%;
    width: 290px;
    padding: 0px 10px;
}
button {
    background-color: #2061c9;
    color: white;
    border: none;
    border-radius: 5px;
    height: 75%;
    width: 80px;

}
.list {
    width: 100%;
    height: 80%;
    margin-top: 70px;
}
li {
    background-color: aqua;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px 0px;
}